:root {
    --police-site: font-family: 'Roboto', sans-serif;
    --vertCyan: #58e0c3;
    --p-color: #333;
    --background: #0a192f;
    --darkPurple: #2e2644;
    --fOf: #f0f;
}

body {
    background-color: var(--background);
    font-family: var(--police-site);
}

/*
|--------------------------------------------------------------------------
| HEADER
|--------------------------------------------------------------------------
*/

header {
    padding: 40px;
}

li a {
    color: var(--vertCyan);
    font-weight: 100;
    font-size: 14px;
    transition: 0.3s;
}

li a:hover {
    color: var(--vertCyan);
    border-left: 1px solid var(--fOf);
    border-bottom: 1px solid var(--fOf);
    text-decoration: none;
    height: 50px;
    padding: 10px;
}

.subtitle {
    display: block;
    color: var(--vertCyan);
    font-size: 25px;
    font-weight: 100;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 80px;
}

.container__button--contact {
    width: auto;
    height: auto;
    margin: 3em;
    padding: 13px;
    border-radius: 10px;
    background: none;
    border: white solid 2px;
    color: white;
    font-size: 2em;
    transition: 0.5s;
}

.menu {
    display: flex;
}

.menu__item {
    display: flex;
    justify-content: end;
    width: 100%;
    margin: auto;
    gap: 2em;
}

.menu__item-list {
    font-weight: 100;
    list-style: none;
}

/*
|--------------------------------------------------------------------------
| SECTION PRESENTATION + MAIN WRAPPER
|--------------------------------------------------------------------------
*/

main {
    display: flex;
    justify-content: center;
    width: 900px;
}

h1 {
    color: white;
    font-size: 60px;
    text-align: center;
}

.sectionWrapper__main {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
}

.sectionWrapper {
    display: flex;
    justify-content: center;
    margin: auto;
    margin-top: 100px;
    width: 80%;
}



.sectionWrapper__sectionGauche {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 55px;
    width: 50%;
}

.sectionWrapper__sectionGauche--content {
    font-size: 2em;
    font-weight: 200;
    color: white;
}

.sectionWrapper__sectionDroite {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 30%;
    margin-left: 55px;
}

/*
|--------------------------------------------------------------------------
| SECTION 2
|--------------------------------------------------------------------------
*/

.section__2 {
    background-color: white;
    display: flex;
    padding-top: 100px;
    margin: auto;
    width: 100%;
}

.img-section-2 {
    display: flex;
    height: 500px;
    position: relative;
}

.container__img-section-2 {
    height: 300px;

}

.section__2--content {
    font-size: 2em;
    font-weight: 200;
    color: var(--background);
    margin-bottom: 100px;
}

/*
|--------------------------------------------------------------------------
| SECTION 3
|--------------------------------------------------------------------------
*/

.section__3 {
    margin-bottom: 200px;
}

.sectionWrapper__3 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
    margin-top: 100px;
    width: 80%;
}

.section__3--title {
    color: var(--vertCyan);
    font-weight: 200;
    letter-spacing: 8px;
    text-align: center;
    margin-bottom: 1.5em;
}

.cardWrapper__3 {
    display: flex;
    justify-content: center;
    gap: 150px;
}

.section__3--cards--container {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-bottom: 100px;
    background-color: white;
    border-radius: 10px;
    /* box-shadow: 20px 10px var(--vertCyan); */
    box-shadow: 0px 5px 10px 0px var(--vertCyan);
    transition: 0.5s;
    transition-timing-function: ease;
}

.section__3--cards--container:hover {
    transform: translateY(-5px);
    box-shadow: 0px 10px 20px 2px var(--vertCyan);
}

.section__3--cards {
    color: var(--background);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
    width: 50%;
    padding: 10px;
}

.section__3--content {
    display: block;
    width: 75%;
    font-size: 2em;
    font-weight: 200;
    color: var(--background);
    margin-bottom: 100px;
}

.section__3--icon {
    color: var(--background);
    font-size: 2em;
    margin-top: 20px;
    border: #58e0c3 4px solid;
    padding: 16px;
    border-radius: 50%;
    background-color: var(--vertCyan);
}

.section__3--subtitle {
    color: var(--vertCyan);
    font-weight: 200;
}

.section__3--content {
    font-size: 1em;
    margin: 0;
    text-align: center;
}

.section__3--list {
    list-style: none;
    display: flex;
    flex-direction: column;
}

/*
|--------------------------------------------------------------------------
| BUTTON
|--------------------------------------------------------------------------
*/


.btnContact {
    display: flex;
    justify-content: center;
    margin: 120px 0;
}

.btnContact__effect {
    padding: 20px 50px;
    font-size: 1.5rem;
    cursor: pointer;
    border: 0;
    color: #fff;
    background: transparent;
    position: relative;
    margin: 20px;
    transition: all .25s;
}

.btnContact__effect::after,
.btnContact__effect::before {
    border: 3px solid #fff;
    content: '';
    position: absolute;
    border-radius: inherit;
    width: 100%;
    height: 100%;
    left: 0px;
    bottom: 0px;
    transition: all .25s;
}

.btnContact__effect:hover::after {
    transform: translate(-7px, -7px);
    border-radius: 8px;
    border-color: var(--vertCyan);
}
    
.btnContact__effect:hover::before {
    border-radius: 8px;
    border-color: var(--vertCyan);
    transform: translate(7px, 7px);
}

.btnContact__effect:hover {
    color: var(--vertCyan);
}

/*
|--------------------------------------------------------------------------
| FOOTER
|--------------------------------------------------------------------------
*/

.footer {
    position: relative;
    width: 100%;
    background: var(--vertCyan);
    min-height: 100px;
    padding: 20px 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.footer li a {
    color: var(--background);
    font-weight: 100;
    font-size: 1.5em;
    transition: 0.3s;
}

.footer li a:hover {
    color: white;
    border-left: 1px solid var(--fOf);
    border-bottom: 1px solid var(--fOf);
    text-decoration: none;
    height: 50px;
    padding: 10px;
}

.footer p {
    color: var(--background);
    margin: 15px 0 10px 0;
    font-size: 1.5rem;
    font-weight: 300;
}

.wave {
    position: absolute;
    top: -100px;
    left: 0;
    width: 100%;
    height: 100px;
    background: url("../images/footer-wave.png");
    background-size: 1000px 100px;
}

.wave#wave1 {
    z-index: 1000;
    opacity: 1;
    bottom: 0;
    animation: animateWaves 4s linear infinite;
}

.wave#wave2 {
    z-index: 999;
    opacity: 0.5;
    bottom: 10px;
    animation: animate 4s linear infinite !important;
}

.wave#wave3 {
    z-index: 1000;
    opacity: 0.2;
    bottom: 15px;
    animation: animateWaves 3s linear infinite;
}

.wave#wave4 {
    z-index: 999;
    opacity: 0.7;
    bottom: 20px;
    animation: animate 3s linear infinite;
}

@keyframes animateWaves {
    0% {
        background-position-x: 1000px;
    }

    100% {
        background-positon-x: 0px;
    }
}

@keyframes animate {
    0% {
        background-position-x: -1000px;
    }

    100% {
        background-positon-x: 0px;
    }
}