:root {
    --police-site: font-family: 'Roboto', sans-serif;
    --vertCyan: #58e0c3;
    --p-color: #333;
    --background: #0a192f;
}

body {
    background-color: var(--background);
    font-family: var(--police-site);
}

main {
    display: flex;
    justify-content: center;
    width: 900px;
}

p {
    color: white;
}

h1 {
    color: white;
    font-size: 60px;
    text-align: center;
}

header {
    padding: 40px;
}

li a{
    color: var(--vertCyan);
    font-weight: 100;
    font-size: 14px;
    transition: 0.3s;
}

li a:hover{
    color: var(--vertCyan);
    border-left: 1px solid #f0f;
    border-bottom: 1px solid #f0f;
    text-decoration: none;
    height: 50px;
    padding: 10px;
}

.subtitle{
    display: block;
    color: var(--vertCyan);
    font-size: 25px;
    font-weight: 100;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 80px;
}

.menu {
    display: flex;
}

.menu__item {
    display: flex;
    justify-content: end;
    width: 100%;
    margin: auto;
    gap: 1em;
}

.menu__item-list {
    font-weight: 100;
    list-style: none;
}

.sectionWrapper__main{
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
}

.sectionWrapper{
    display: flex;
    margin: auto;
    margin-top: 100px;
    margin-bottom: 100px;
    width: 80%;
}

.sectionWrapper__sectionGauche {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 55px;
    width: 50%;
}

.sectionWrapper__sectionGauche--content{
    font-size: 2em;
    font-weight: 200;
}

.sectionWrapper__sectionDroite {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 30%;
    margin-left: 55px;
}

.img-section-1{
    position: relative;
    top: -200px;
    left: 500px;
    height: 500px;
}

.section__2{
    background-color: white;
    display: flex;
    margin: auto;
    margin-top: 100px;
    width: 100%;
}
